<h1>List of Articles</h1>
<ul>
<% @articles.each do |article| %>
    <li><a href='<%= article_url(article) %>'>Open <%= article.title %></a></li>
    <li><%= link_to article.title, article %></li>
    <li></li>
<% end %>
</ul>

<%= link_to "Create New Article", new_article_path %>